<nav class="navbar custom-navbar navbar-light main-footer small bg-white">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="javascript:;">
                <span>Copyright &copy; 2019 </span> <span class="ff-headers text-uppercase">STW Services LLP</span>. | All rights reserved.
            </a>
        </li>
    </ul>
    <!-- <ul class="navbar-nav hidden-xs-down">
        <li class="nav-item">
            <a class="nav-link" href="javascript:;">Made with love on Earth</a>
        </li>
    </ul> -->
</nav>