<nav class="navbar custom-navbar main-brand nav-logo">
    <a class="text-center" [routerLink]="['/']">
        <img src="assets/images/stwlogo.png" class="navbar-brand-logo" alt="">
    </a>
    <!-- <ul class="navbar-nav">
        <li class="nav-item">
            <a href="javascript:;" class="nav-link" (click)="toggleSidebar.emit()">
                <i class="hamburger-icon v2" *ngIf="mode === 'over'">
          <span></span>
        </i>
            </a>
        </li>
    </ul> -->
</nav>

<app-menu></app-menu>